.main{
  display: block;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 30%;
}
.left-box{
  float: left;
  margin-bottom: 10%;
}
.left-box div{
  border:0;
  background: none;
  margin:10px;
  border:3px solid #0367fd;
  padding:10px;
  width: 220px;
  outline: none;
  color: black;
  border-radius: 20px;
  transition: 0.25px;
}
.left-box div:focus{
  background-color: #40ff00;
}
.left-box label{
  display: block;
}
.left-box input[type="checkbox"] {
  vertical-align: middle;
  position: relative;
  display:inline;

}
.right-box{
 float: right;
 margin-top: 5%;
}
button{
  border:0;
  background: none;
  display: block;
  margin:20px auto;
  text-align: center;
  border:3px solid #0367fd;
  padding:14px 10px;
  width: 220px;
  outline: none;
  color: black;
  border-radius: 15px;
  transition: 0.25px;

}
input{
  border:0;
  background: none;
  display: block;
  margin:20px auto;
  text-align: center;
  border:3px solid #0367fd;
  padding:14px 10px;
  width: 195px;
  outline: none;
  color: black;
  border-radius: 15px;
  transition: 0.25px;
}
input:focus, button:focus{
  background-color: #ffff00;
}
h1{
  text-align: center;
  padding-top: 30px;
}
